page-tables {
  .ion-content {
    background-color: color($colors, body);
    direction: rtl;
  }
  .icon {
    color: color($colors, dark);
  }
 
  .ion-card {
    display: inline-block;
    height: 160px;
    width: 49%!important;
  }

  .groups {
    background: color($colors, wc2018);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #333333, color($colors, wc2018));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #333333, color($colors, wc2018)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: color($colors, light);
    padding: 3px;
    border-radius: 15px;
    margin-bottom: 3px;
    margin-top: 6px;
  }

  .teams {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    margin-top: 1px;
    direction: rtl;
  }

  .TeamsText {
    position: relative;
    direction: rtl;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    font-family: sukar-Regular;
    font-weight: bold;
    color: color($colors, light);
    padding-right: 2px;
  }

  h4{
    direction: rtl;
  }

  .name {
    position: absolute;
  }

  .name h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: color($colors, wc2018);
  }
}
