<ion-header>
  <ion-navbar color="primary">
    <button ion-button right menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>جداول الترتيب</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="ion-content">
  <div style="direction: rtl; margin-bottom: 15px;" text-center>
    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة أ</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of itemsA | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{item.logo}}.png" /></ion-col>
        <ion-col>{{item.team}}</ion-col>
        <ion-col>{{item.points}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة ب</ion-col>
      </ion-row>
      <ion-row *ngFor="let itemb of itemsB | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{itemb.logo}}.png" /></ion-col>
        <ion-col>{{itemb.team}}</ion-col>
        <ion-col>{{itemb.points}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة ج</ion-col>
      </ion-row>
      <ion-row *ngFor="let itemc of itemsC | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{itemc.logo}}.png" /></ion-col>
        <ion-col>{{itemc.team}}</ion-col>
        <ion-col>{{itemc.points}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة د</ion-col>
      </ion-row>
      <ion-row *ngFor="let itemd of itemsD | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{itemd.logo}}.png" /></ion-col>
        <ion-col>{{itemd.team}}</ion-col>
        <ion-col>{{itemd.points}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة هـ</ion-col>
      </ion-row>
      <ion-row *ngFor="let iteme of itemsE | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{iteme.logo}}.png" /></ion-col>
        <ion-col>{{iteme.team}}</ion-col>
        <ion-col>{{iteme.points}}</ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة و</ion-col>
      </ion-row>
      <ion-row *ngFor="let itemf of itemsF | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{itemf.logo}}.png" /></ion-col>
        <ion-col col-auto>{{itemf.team}}</ion-col>
        <ion-col>{{itemf.points}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة ز</ion-col>
      </ion-row>
      <ion-row *ngFor="let itemg of itemsG | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{itemg.logo}}.png" /></ion-col>
        <ion-col>{{itemg.team}}</ion-col>
        <ion-col>{{itemg.points}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-card">
      <ion-row class="groups">
        <ion-col>المجموعة ح</ion-col>
      </ion-row>
      <ion-row *ngFor="let itemh of itemsH | async" class="teams">
        <ion-col><img width="20px" src="../../assets/img/teamsicon/{{itemh.logo}}.png" /></ion-col>
        <ion-col>{{itemh.team}}</ion-col>
        <ion-col>{{itemh.points}}</ion-col>
      </ion-row>
    </ion-grid>

  </div>
  
</ion-content>
