page-article {
  .icon {
    color: color($colors, dark);
  }

  .scroll-bar-indicator{
	  display: none;
  }
  .ion-content {
    background-color: color($colors, light);
  }

  .ion-item {
    direction: rtl;
    background-color: color($colors, light);
  }

  img {
    direction: rtl;
    border-radius: 4px;
  }

  h2 {
    direction: rtl;
    font-family: sukar-Bold;

  }

  p {
    direction: rtl;
    font-family: Sukar-Regular;
    padding-top: 7px;
  }

  .square {
    font-size: 5px;
  }
}
