*{
  direction: ltr;
}

.toolbar-background {
  background: #F2F2F2;
}
.scroll-bar-indicator {
    display: none;
}

ion-title {
  font-family: sukar-Regular;
}

.pages {
  position: absolute;
  right: 25px;
  direction: rtl;
  color: color($colors, dark);
  font-size: 16px;
  font-family: sukar-Regular;
  text-indent: 5px;
}
